{% extends "base.html" %}

{% block content %}
<div class="form-login" style="margin:45px auto; width:500px; height:550px;">
    <h1 class="text-center text-danger">ĐẶT LỊCH KHÁM</h1>
    {% if err_msg%}
    {{err_msg}}
    {%endif%}
    {% if msg_success%}
    {{msg_success}}
    {%endif%}
    {% if full_patient%}
    {{full_patient}}
    {%endif%}
    <form action="/booking" method="post" enctype="multipart/form-data">
        <div class="mt-2 mb-2">
            <label for="tenBN">Họ và Tên</label>
            <input type="text" class="form-control" id="tenBN" name="tenBN" placeholder="Nhập tên"
                   name="registerName"
                   required/>
        </div>
        <div class="mt-2 mb-2">
            <label for="SDT">Số Điện Thoại</label>
            <input type="tel" class="form-control" id="SDT" name="SDT" placeholder="099xxxxxxx" required/>
        </div>
        <div class="mt-2 mb-2">
            <label for="ngayDL">Ngày Đặt Lịch</label>
            <input type="date" class="form-control" id="ngayDL" name="ngayDL" required/>
        </div>
        <div class="mt-2 mb-2">
            <label for="namSinh">Năm Sinh</label>
            <input type="text" class="form-control" id="namSinh" name="namSinh" placeholder="Nhập năm sinh"
                   required/>
        </div>
        <div class="mt-2 mb-2">
            <label for="diaChi">Địa Chỉ</label>
            <input type="text" class="form-control" id="diaChi" name="diaChi" placeholder="Nhập địa chỉ" required/>
        </div>
        <div class="mt-2">
            <label for="gioiTinh">Giới Tính</label>
            <select id="gioiTinh" name="gioiTinh" class="form-control">
                <option class="form-control" value="NAM" name="gioiTinh">Nam</option>
                <option class="form-control" value="NỮ" name="gioiTinh" selected>Nữ</option>
            </select>
        </div>
        <button class="btn btn-danger btn-block col-lg-2" type="submit" style="margin:20px auto;">Đặt Lịch</button>
    </form>
</div>
{%endblock%}