{% extends "base.html" %}

{% block content %}
<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner container">
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dmsbr6jug/image/upload/v1680614267/1_q3na9q.png"
                 class="d-block w-90" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/dmsbr6jug/image/upload/v1680615364/Hinh_2_lemvsj.png" class="d-block w-40"
                 alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://res.cloudinary.com/dmsbr6jug/image/upload/v1680614267/3_cqwfmq.png"
                 class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <h2 class="text-center", style="padding-top: 40px"> GOLD HEALTH </h2>
    <p>Đến với phòng khám tư Gold Health, nơi có đội ngũ chuyên gia, bác sĩ giàu kinh nghiệm với trình độ chuyên môn
        cao, chúng tôi mong sẽ đem đến những trải nghiệm dịch vụ khám chữa bệnh nhiệt tình và tạo điều kiện thuận lợi
        cho người dân ngày càng tiếp cận dễ dàng hơn các dịch vụ y tế chất lượng cao và hiện đại.</p>
    <p>Phòng khám tư Gold Health sẽ phát triển thành Phòng khám hàng đầu về chuyên môn với trang thiết bị khám chữa bệnh
        hiện đại. Song song đó, phòng khám còn liên kết với các giáo sư, tiến sỹ y khoa và các bệnh viện hàng đầu trong
        nước, không ngừng nổ lực phát triển trình độ chuyên môn để nâng cao hơn nữa chất lượng khám chữa bệnh cho cộng
        đồng và thỏa mãn nhu cầu của Bệnh nhân “Khoẻ để thành công”.</p>
</div>
{% endblock %}