{% extends "base.html" %}

{% block content %}
<div class="form-login" style="margin:50px auto; width:500px; height:550px;">
    <h1 class="text-center text-primary">ĐĂNG KÝ KHÁM BỆNH</h1>
    {% if msg %}
    <div class="alert alert-danger">
        {{ msg }}
    </div>
    {% endif %}
    <form action="/register" method="post" enctype="multipart/form-data">
        <div class="mb-3 mt-3">
            <label for="hoten" class="form-label">Họ tên:</label>
            <input type="text" class="form-control" id="hoten"
                   placeholder=" Nhập Họ tên" name="hoten">
        </div>
        <div class="mb-3 mt-3">
            <label for="sdt" class="form-label">Số điện thoại:</label>
            <input type="text" class="form-control" id="sdt"
                   placeholder="Nhập số điện thoại" name="sdt">
        </div>
        <div class="mb-3">
            <label for="namsinh" class="form-label">Năm sinh:</label>
            <input type="date" class="form-control" id="namsinh"
                   placeholder="dd/mm/yyyy" name="namsinh">
        </div>
        <div class="mb-3">
            <label for="diachi" class="form-label">Địa chỉ:</label>
            <input type="text" class="form-control" id="diachi"
                   placeholder="Nhập địa chỉ" name="diachi">
        </div>
<!--         <div class="mb-3">-->
<!--            <label for="ngaykham" class="form-label">Ngày khám:</label>-->
<!--            <input type="date" class="form-control" id="ngaykham"-->
<!--                   placeholder="dd/mm/yyyy" name="ngaykham">-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
</div>
{% endblock %}