{% extends "base.html" %}

{% block content %}
<div class="form-login" style="margin:50px auto; width:500px; height:540px;">
    <h1 class="text-center text-primary">ĐĂNG KÝ NGƯỜI DÙNG</h1>
    {% if msg %}
    <div class="alert alert-danger">
        {{ msg }}
    </div>
    {% endif %}
    <form action="/register" method="post" enctype="multipart/form-data">
        <div class="mb-3 mt-3">
            <label for="registerName" class="form-label">Tên đăng nhập:</label>
            <input type="text" class="form-control" id="registerName"
                   placeholder="Tên đăng nhập" name="registerName" required/>
        </div>
        <div class="mb-3 mt-3">
            <label for="registerEmail" class="form-label">Email:</label>
            <input type="text" class="form-control" id="registerEmail"
                   placeholder="Email" name="registerEmail">
        </div>
        <div class="mb-3">
            <label for="registerPassword" class="form-label">Mật khẩu:</label>
            <input type="password" class="form-control" id="registerPassword"
                   placeholder="Mật khẩu" name="registerPassword" required/>
        </div>
        <div class="mb-3">
            <label for="registerConfirmPassword" class="form-label">Xác nhận mật khẩu:</label>
            <input type="password" class="form-control" id="registerConfirmPassword"
                   placeholder="Xác nhận mật khẩu" name="registerConfirmPassword" required/>
        </div>
        <button type="submit" class="btn btn-primary">Đăng ký</button>

    </form>
</div>
{% endblock %}